<div class="nav">

  <% if current_user.games.count == 0 %>
    <form class="new_game" action="/games/first_or_second" method="get">
      <input type="submit" value="Start a New Game!">
    </form>
    <br>
    <form action="/games/join" method="get">
      <input type="submit" value="Join an Existing Game">
    </form>

  <% else %>
    <form action="/games/resume" method="get">
      <input type="submit" value="Resume a Game You're Currently Playing">
    </form>
  <% end %>

</div>