<form class="nav" action="/sessions" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log-Out">
</form>

<form class="new_game" action="/games/new" method="get">
  <input type="submit" value="Start a New Game!">
</form>

