<h2>Do you want to be the first or second mover?</h2>

<form class="first_or_second" action="/games/" method="post">
  First Mover<input type="radio" name="first" value="true" />
  Second Mover<input type="radio" name="first" value="false" />
  <br>
  <input type="submit" />
</form>