<h1>Hi <%= current_user.username %>!  Here's your game!!</h1>
<h2>You are <%= current_user.x_or_o %></h2>

<div class="board">
  <% @game.boardspaces.each do |boardspace| %>
    <div class="boardspace" id="<%= boardspace.position %>"></div>
  <% end %>
</div>