<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/scripts.js"></script>
  <title>Hangman</title>
</head>
<body>

  <% if current_user %>
    <%= erb :'/partials/_user_navigation' %>
  <% else %>
    <%= erb :'/partials/_non_user_navigation' %>
  <% end %>

  <%= yield %>
</body>
</html>