<div class="gallows letterbox">
  <div class="beam"></div>
  <div class="beam_extension"></div>
  <div class="diagonal">
    <div id="line1"></div>
  </div>
  <div class="pole"></div>
  <div class="base"></div>
</div>

<table class="blanks">
  <tr>
    <% @game.word.upcase.chars.each do |char| %>
      <td class="letter">
        <a href="<%=@game.url%>" target="_blank"><u><%=char%><u/></a>
      </td>
      <td class="space"> </td>
    <% end %>
  </tr>
</table>

<form id="O" class="<%=@game.word.upcase%>" action="/" method="get">
  <input type="submit">
</form>

&nbsp;

<script>
  $form = $("form[action='/']")
  $form.on('submit', function(e){
    e.preventDefault();
    var letter = $(this)[0].id;
    // var regLetter = new RegExp(letter, "g");
    var word = $(this)[0].className;
    // var result = word.match(regLetter);
    // console.log(result)
    var split = word.split(letter);
    var sum = -1;
    var indices = [];
    $.each(split, function(index, value){
      if (index===0) {
        indices.push(value.length)        
      } else {
        indices.push(value.length+indices[index-1]+1)        
      };
    });
    indices.pop();
    console.log(indices);
  });
</script>
