<div class="gallows">
  <%= erb :'/partials/_letterbox' %>

  <div class="beam"></div>
  <div class="rope"></div>
  <div class="noose wrongcount"></div>
  <div class="noosehole wrongcount"></div>
  <div class="beam_extension"></div>
  <div class="diagonal">
    <div id="diag_line"></div>
  </div>
  <div class="pole"></div>
  <div class="base"></div>

</div>

<div class="blanks_container">
  <table class="blanks">
    <tr>
      <% @game.word.upcase.chars.each_with_index do |char,i| %>
        <td class="<%= char != ' ' ? 'blank' : 'blank_space' %>">
          <a href="<%=@game.url%>" target="_blank">&nbsp;</a>
        </td>
        <td class="space"> </td>
        <% if char == ' ' %>
          <br>
        <% end %>
      <% end %>
    </tr>
  </table>
</div>

<script>

  var $gallows = $(".gallows");
  var $formLetter = $("form[id*='Letter']");

  function hideLetter(e){
    $(this).css('visibility', 'hidden');
    $(this).parent().disabled = true;
  }

  function letterIndexes(wordSplit){
    var whereCorrect = [];
    $.each(wordSplit, function(index, value){
      if (index===0) {
        whereCorrect.push(value.length)        
      } else {
        whereCorrect.push(value.length+whereCorrect[index-1]+1)
      };
    });
    whereCorrect.pop();
    return whereCorrect;
  }

  function sendGameState(whereCorrect, userGuess, gameID){
    var in_word = (whereCorrect.length != 0);
    $.ajax({
      method: 'POST',
      url: '/guesses/',
      dataType: 'json',
      data: {
        order: whereCorrect,
        guess: {
          letter: userGuess,
          in_word: in_word,
          game_id: gameID
        }
      },
      success: function(json){
        var wrongCount = json.wrong_count
        var inWord = json.in_word
        var won = json.won

        if (wrongCount===1){
          changeNooseIntoFace(wrongCount);          
        };
        if (wrongCount>1){
          addBodyPart(wrongCount);
        }
        if (won==false){
          loseGame();
        }
        if (won==true){
          winGame();
        }
      }
    });
  }

  function changeNooseIntoFace(wrongCount){
    var $div = $("div[class*='wrongcount']");
    $div[0].className = ("wrongcount" + wrongCount);
    addFacialFeatures();
  }

  function addFacialFeatures(){
    var $lefteye = $("<div>");
    var $righteye = $("<div>");
    var $mouth = $("<div>");
    $lefteye.addClass("lefteye");
    $righteye.addClass("righteye");
    $mouth.addClass("mouth");
    $gallows.append($lefteye);
    $gallows.append($righteye);
    $gallows.append($mouth);
  }

  function addBodyPart(wrongCount){
    var $div = $("<div>");
    $div.addClass("wrongcount" + wrongCount);
    $gallows.append($div);
  }

  function loseGame(){
    $.each($formLetter, function(index, value){
      $(value.firstElementChild).css("visibility", "hidden")
    });
    var $h1 = $("<h1>");
    $h1.addClass("you_lose");
    $h1.text("YOU LOSE :(");
    $('body').append($h1);
  }

  function winGame(){
    alert("you won!")
  }




  $(function(){

    var $blanks = $('a')
    var whereCorrect = []

    $formLetter.on('submit', function(e,hide){
      e.preventDefault();
      var userGuess = $(this)[0].id.charAt(6);
      var gameID = $(this)[0].id.substr(7,($(this)[0].id.length - 1))
      var secretWord = $(this)[0].className;
      var wordSplit = secretWord.split(userGuess);

      var $input = (this).children[0];
      $input.innerHTML = " ";
      $input.disabled = true;
      var whereCorrect = letterIndexes(wordSplit);

      $.each(whereCorrect, function(index, value){
        $blanks[value].innerHTML = userGuess;
      });

      sendGameState(whereCorrect, userGuess, gameID);

    });

    $('.letter-button').on('click', hideLetter)
  });

</script>
