<div class="gallows letterbox">
  <div class="beam"></div>
  <div class="beam_extension"></div>
  <div class="diagonal">
    <div id="line1"></div>
  </div>
  <div class="pole"></div>
  <div class="base"></div>
</div>

<table class="blanks">
  <tr>
    <% @game.word.upcase.chars.each do |char| %>
      <td class="letter">
        <a href="<%=@game.url%>" target="_blank"><u><%=char%><u/></a>
      </td>
      <td class="space"> </td>
    <% end %>
  </tr>
</table>

<form id="N" class="<%=@game.word.upcase%>" action="/" method="get">
  <input type="submit">
</form>

&nbsp;

<script>
  $form = $("form[action='/']")
  $form.on('submit', function(e){
    e.preventDefault();
    var guess = $(this)[0].id;
    var secret_word = $(this)[0].className;
    var split = secret_word.split(guess);
    var indices = [];
    if (secret_word.charAt(0)===guess){
      indices.push(0);
    };
    debugger;
    $.each(split, function(index, value){
      if (index===0) {
        indices.push(value.length)        
      } else {
        indices.push(value.length+indices[index-1]+1)        
      };
    });
    indices.pop();
    console.log(indices);
  });
</script>
