<div class="gallows">
  <%= erb :'/partials/_letterbox' %>

  <div class="beam"></div>
  <div class="beam_extension"></div>
  <div class="diagonal">
    <div id="diag_line"></div>
  </div>
  <div class="pole"></div>
  <div class="base"></div>
</div>

<table class="blanks">
  <tr>
    <% @game.word.upcase.chars.each do |char| %>
      <td class="letter">
        <a href="<%=@game.url%>" target="_blank"><u><%=char%><u/></a>
      </td>
      <td class="space"> </td>
    <% end %>
  </tr>
</table>

&nbsp;

<script>
  $form = $("form[id*='Letter']");
  $form.on('submit', function(e){
    e.preventDefault();
    var userGuess = $(this)[0].id.charAt(6);
    var secretWord = $(this)[0].className;
    var wordSplit = secretWord.split(userGuess);
    var whereCorrect = [];
    $.each(wordSplit, function(index, value){
      if (index===0) {
        whereCorrect.push(value.length)        
      } else {
        whereCorrect.push(value.length+whereCorrect[index-1]+1)
      };
    });
    whereCorrect.pop();
    console.log(whereCorrect);
  });
</script>
