<div class="gallows">
  <%= erb :'/partials/_letterbox' %>

  <div class="beam"></div>
  <div class="beam_extension"></div>
  <div class="diagonal">
    <div id="diag_line"></div>
  </div>
  <div class="pole"></div>
  <div class="base"></div>
</div>

<table class="blanks">
  <tr>
    <% @game.word.upcase.chars.each_with_index do |char,i| %>
      <td class="<%= char != ' ' ? 'blank' : 'blank_space' %>">
        <a href="<%=@game.url%>" target="_blank">&nbsp;</a>
      </td>
      <td class="space"> </td>
    <% end %>
  </tr>
</table>



<script>

  $(function(){

    $form = $("form[id*='Letter']");
    $blanks = $('a')
    $form.on('submit', function(e){
      e.preventDefault();
      var userGuess = $(this)[0].id.charAt(6);
      var secretWord = $(this)[0].className;
      var wordSplit = secretWord.split(userGuess);
      var whereCorrect = [];
      var $input = (this).children[0];
      $input.hidden=true;
      $.each(wordSplit, function(index, value){
        if (index===0) {
          whereCorrect.push(value.length)        
        } else {
          whereCorrect.push(value.length+whereCorrect[index-1]+1)
        };
      });
      whereCorrect.pop();
      console.log(whereCorrect);
      var in_word = (whereCorrect.length != 0);
      var order = whereCorrect;

      $.ajax({
        method: 'POST',
        url: '/guesses/',
        dataType: 'json',
        data: {
          order: order,
          guess: {
            letter: userGuess,
            in_word: in_word,
          }
        },
        // success: function(data){
        //   console.log(data);
        //   $form = $('#Letter' + userGuess);
        //   $input = $form.children;
        //   $input.css("color", "green");
        // }
      });

    });
  });

</script>
