<div class="gallows letterbox">
  <div class="beam"></div>
  <div class="beam_extension"></div>
  <div class="diagonal">
    <div id="line1"></div>
  </div>
  <div class="pole"></div>
  <div class="base"></div>
</div>

<table class="blanks">
  <tr>
    <% @game.word.upcase.chars.each do |char| %>
      <td class="letter">
        <a href="<%=@game.url%>" target="_blank"><u><%=char%><u/></a>
      </td>
      <td class="space"> </td>
    <% end %>
  </tr>
</table>

<form id="O" class="<%=@game.word.upcase%>" action="/" method="get">
  <input type="submit">
</form>

&nbsp;

<script>
  $form = $("form[action='/']")
  $form.on('submit', function(e){
    e.preventDefault();
    var $guess = $(this)[0].id;
    var $word = $(this)[0].className;
    if ($word.indexOf($guess)>=0){
      console.log("GOOD GUESS!")
    } else {
      console.log("BAD GUESS!")
    }
  });
</script>
