<h2>Save Your Game, Keep Track of Your Scores, and Compete!</h2>

<form action="/users/new" method="post">
  <label for="user[username]">Username</label>
  <input type="text" name="user[username]">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">
  <br>
  <label for="user[avatar_url]">Avatar Url (optional)</label>
  <input type="text" name="user[avatar_url]">
  <br>
  <label for="user[favorite_quote]">Favorite Quote (optional)</label>
  <input type="text" name="user[favorite_quote]">
  <br>
  <label for="user[hometown]">Hometown (optional)</label>
  <input type="text" name="user[hometown]">
  <br>
  <input type="submit" value="Sign Up!">
</form>