<form action="/users/new" method="post">
  <label for="user[username]">Username</label>
  <input type="text" name="user[username]" />
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" />
  <br>
  <label for="user[profile_pic]">Profile Pic</label>
  <input type="text" name="user[profile_pic]" />
  <br>
  <label for="user[favorite_quote]">Favorite Quote</label>
  <input type="text" name="user[favorite_quote]" />
  <br>
  <label for="user[hometown]">Hometown</label>
  <input type="text" name="user[hometown]" />
  <br>
  <label for="user[board_pics]">Board Pics</label>
  <input type="text" name="user[board_pics]" />
  <br>
  <input type="submit" value="Sign Up!" />
</form>