body {
  background-color: lightblue;
  text-align: center;
}

.nav {
  display: inline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.open_games {
  list-style-type: none;
  font-size: 2em;
}

.board {
  position: relative;
  height: 450px;
  width: 450px;
  margin: 0 auto;
}

.boardspace {
  background: transparent;
  border: 1px solid black;
  height: 32%;
  width: 32%;
  display: inline-block;
  position: relative;
}

div .empty {}

div .O {
  position: absolute;
  top: 10%;
  height: 70%;
  width: 70%;
  left: 10%;
  border-radius: 50%;
  border: 8px solid black;
  background: transparent;
}

div .X {
  position: absolute;
  top: 0%;
  height: 90%;
  width: 0%;
  left: 45%;
  border-radius: 3em;
  border: 8px solid black;
  background: transparent;
  -webkit-transform: rotate(45deg);
}

div .XR {
  position: absolute;
  top: 0%;
  height: 90%;
  width: 0%;
  left: 45%;
  border-radius: 3em;
  border: 8px solid black;
  background: transparent;
  -webkit-transform: rotate(135deg);
}
